@(version: String)

@import snippets._

@main("about")(navigation("home")) {         
    <div id="creditsdiv" role="main" class="main" >
       <h2>Midi2Abc version @version</h2>
       <p>Midi2Abc is a utility that attempts to translate simple midi tunes into ABC notation. Its intention is to allow you to use a midi keyboard as an input device to generate ABC scores for traditional tunes.  Ideally, the tune should be monophonic, with a single melody line (without chords), complete with time signature - however multi-track midi files are supported if you're able to select the track that contains the melody. The translation will only be successful if the tune is played strictly in rhythm and with a minimum of ornamentation.</p>
       
       

    </div>
}


