@(message: String)

@import snippets._

@main("credits")(navigation("home")) {         
    <div id="creditsdiv" role="main" class="main" >
          <p>Midi2Abc obviously generates scores in <a href="http://abcnotation.com/">ABC notation</a> and so owes a huge debt to Chris Walshaw who developed it. It relies on <a href="http://haskell.cs.yale.edu/euterpea/">Euterpea</a> for a tractable representation of a musical performance which in turn uses <a href="https://github.com/giorgidze/HCodecs/">HCodecs</a> for reading midi files. The web framework is <a href="http://www.playframework.org/">Play</a>.</p>
    
    </div>
}


